html {
    box-sizing: border-box;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul 
{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}

body{
font-family: 'Roboto', sans-serif;

}
.box1 {
width: 1600px;
height: 600px;
background-color: #2F303A;
}
.blue {
    position: absolute;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
.box2 {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
}

.header-container {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;

}
.title {
position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
